/*.top{
	
	background-color: blue;
	width:100px; 
	height:70px;
}*/


/*/*/*/



		/*.searchbox{
			width: 50%;
			margin: auto;
		}

			.searchbox input, button{
			width: 35%;
			border:2px solid white;
			border-right: 0px;
			font-size: 10px;
			padding: 9px;
			background:transparent;
			color: white;
		}

			.searchbox button{
			width: 25%;
			background:#eee;
			color:black;
			float: right;
			border-left: 0px;
		}

		.searchbox button:hover{
			opacity: .8;

		}

		.searchbox input:hover{
			opacity: .8;
		}
*/



footer{
	 background-color: white ;
	  border: 10px solid white;
}

.pic{
	/*text-decoration: none;*/
	list-style-type: none;
	margin-top: 25px; 
}

.pic li {
	display: inline-block;
	 text-decoration:none;
	 color: white;
	}


.before{
	background-color: grey ;
	  border: 10px solid white;
}



.before{
	 background-color: grey ;
	  border: 10px solid grey;
	  color: white;
}


.before ul{
	/*text-decoration: none;*/
	list-style-type: none;
	margin-top: 25px; 
}

.before ul li {
	display: inline-block;
	 text-decoration:none;
	 color: white;
	}

.before ul li a{
	text-decoration: none;
	padding: 10px 20px;
	/*border: 1px;*/
	border: 0px solid pink;
	color:white; 
}

.after{
	background-color: black ;
	  border: 30px solid black;
	  color: white;
	  /*display: inline-block;*/

}

.after ul{
	/*text-decoration: none;*/
	list-style-type: none;
	margin-top: 25px; 
    display: inline-block;
}

.after .about li {
	display: inline-block;
	 text-decoration:none;
	 color: white;
	}

.after ul h2 li a{
	text-decoration: none;
	padding: 10px 20px;
	/*border: 1px;*/
	/*border: 0px solid pink;*/
	color:white; 
	/*display: inline-flex;*/
}
